header{
    width: 100%;
    background-color: rgba(95, 95, 222, 0.8);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/textures/dotted_texture.png');
    background-size: cover repeat;
    background-position: center;
    background-blend-mode: overlay;
}
